/* AddCourse.css */
.custom-file-upload {
    display: inline-block;
    padding: 8px 12px;
    margin-bottom: 10px; /* Add margin-bottom for spacing */
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3;
  }
  
  .custom-file-upload input[type="file"] {
    display: none;
  }
  